.wrapper {
    position: relative;
}

.fixed-button {
    position: fixed;
    bottom: 100px;
    right: 20px;
}

.btn-light{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: linear-gradient(90.95deg, #E9B1E0 0.79%, #D3A5F2 99.18%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
