.container-fluid{
    width: 100%;
    height: 100vh;
}

.form-control:focus{
    box-shadow: none;
}
.form-control{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}


